MONGO_URI=your-mongodb-connection-string-here
PORT=5000

GROQ_API_KEY=your-groq-api-key-here

JWT_SECRET=samarpan-super-secret

FRONTEND_URL=https://samarpan-quiz.vercel.app
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=https://samarpan-9rt8.onrender.com/auth/google/callback

FACEBOOK_CLIENT_ID=your-facebook-client-id
FACEBOOK_CLIENT_SECRET=your-facebook-client-secret
FACEBOOK_CALLBACK_URL=https://samarpan-9rt8.onrender.com/auth/facebook/callback


# FRONTEND_URL=https://samarpan-quiz.vercel.app
# https://samarpan-9rt8.onrender.com